--extra-index-url https://download.pytorch.org/whl/cpu

# CPU-only PyTorch
torch==2.1.1+cpu
torchvision==0.16.1+cpu

# Core dependencies
flask
fastapi
python-multipart
pillow
pandas
numpy<2

# YOLO
ultralytics

# Server
uvicorn[standard]
